<appSettings>
	<add key="FacebookAppId" value="383008282928679"/>
	<add key="FacebookAppSecret" value="53ce5f7888b42102ab631c7677c7f148"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
